---
import { Image } from "astro:assets";
import Button from "@ui/Button.astro";
import image_1 from "@images/Benjamin.jpeg";
import image_2 from "@images/Emirhan.jpeg";
import image_3 from "@images/Jannis.png";
import image_4 from "@images/Mario.png";
import image_LinkedIn from "@images/InBug-White.png";

// Content for the section title and subtitle
const title = "Das Team";
const subTitle = "LPRD ist eine Gruppe von vier Studenten, die eine visionäre Sigange Lösung entwickeln."

// Features list for displaying the key highlights

const features = [
  {
    title: "Benjamin Klarić", // Feature title
    description:
      "Elektronik", // Feature description
    image: image_1, // Associated image
    class:
      "content-center py-5 sm:p-5", // Custom CSS classes for layout and styling
    alignment: "ml-auto mr-auto mt-10 w-[65%] rounded-xl shadow-lg sm:ml-0 sm:w-[45%]",
    moreFeatures : ["https://www.linkedin.com/in/benjamin-klaric-70074727b/"],
  },
  {
    title: "Emirhan Göktaş",
    description: "Firmware",
    image: image_2,
    class: "content-center py-5 sm:p-5",
    alignment: "ml-auto mr-auto mt-10 w-[65%] rounded-xl shadow-lg sm:ml-0 sm:w-[45%]",
    moreFeatures : ["https://www.linkedin.com/in/ahmet-emirhan-g%C3%B6ktas-22b607351/"],
  },
  {
    title: "Jannis Gröger",
    description:
      "Hardware",
    image: image_3,
    class:
      "content-center py-5 sm:p-5",
    alignment: "ml-auto mr-auto mt-10 w-[65%] rounded-xl shadow-lg sm:ml-0 sm:w-[45%]",
    moreFeatures : ["https://www.linkedin.com/in/jannisgroeger/"],
  },
  {
    title: "Mario Wegmann",
    description: "Software",
    image: image_4,
    class: "content-center py-5 sm:p-5",
    alignment: "ml-auto mr-auto mt-10 w-[65%] rounded-xl shadow-lg sm:ml-0 sm:w-[45%]",
    moreFeatures : ["https://www.linkedin.com/in/mario-wegmann/"],
  },
];
---

<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8 lg:py-20">
  {/* Section container for the title and subtitle */}
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-semibold text-slate-800 md:text-3xl md:leading-tight"
    >
      <Fragment set:html={title} />
    </h2>
    <p class="mt-1 text-pretty text-slate-600">
      <Fragment set:html={subTitle} />
    </p>
  </div>

  <div
    class="mx-auto grid max-w-[85rem] px-4 pb-10 sm:grid-cols-2 sm:grid-rows-3 sm:px-6 lg:px-8 lg:pb-14"
  >
    {
      features.map((feature) => (
        <div class={`${feature.class}`}>
          <h2 class="text-2xl font-bold text-slate-600">{feature.title}</h2>

          <p class="mt-2 text-base/6 text-slate-600">
            <Fragment set:html={feature.description || ""} />
          </p>

          {feature.image && (
            <Image
              class={`${feature.alignment || ""}`}
              src={feature.image}
              alt=""
            />
          )}
<br/>
          {feature.moreFeatures && (
            <Button
              href={feature.moreFeatures[0]}
              variant="primary"
              className="inline-flex text-nowrap border-none w-10 p-2"
              ><Image
              class="p-0"
              src={image_LinkedIn}
              alt=""/></Button>
          )}
        </div>
      ))
    }
  </div>
</div>
